<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="./index.css" />
</head>
<body>
  <div>
    <h1 class="logo__title">Helium</h1>
    <h2 class="logo__subtitle">Fast and easy creation of web-applications</h2>
  </div>

  <span class="hint">Start editing src/index.html to change this page</span>

  <div class="url">
    <a href="https://github.com/ShizzaHo/Helium">Helium github repository</a>
    <a href="/demos/">Demos</a>
  </div>
</body>